@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 9 - 0.75rem * 9));
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(calc(-150px * 9 - 0.75rem * 9));
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-195px * 9 - 1rem * 9));
    }
  }

  @keyframes scroll-reverse {
    0% {
      transform: translateX(calc(-195px * 9 - 1rem * 9));
    }
    100% {
      transform: translateX(0);
    }
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 60s linear infinite;
}

.photos:hover,
.photos-reverse:hover {
  animation-play-state: paused;
}
